@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #fefefe;
}

nav {
    color: #f2f2f2;
    background: #222222;
    padding: 10px 40px 10px 70px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li.logo {
    flex: 1;
    font-size: 30px;
    font-weight: 700;
}

nav ul div.items {
    padding: 0 25px;
    display: inline-flex;
}

nav ul div.items a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
    color: #f2f2f2;
}

nav ul div.items a:hover {
    color: cyan;
}

nav ul .search-icon {
    height: 40px;
    width: 240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
}

nav ul .search-icon input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

nav ul .search-icon input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon {
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

nav ul .search-icon .icon:hover {
    background: #e6e6e6;
}

nav ul .search-icon .icon span {
    color: #222222;
    font-size: 18px;
}

.container {
    width: 90%;
    margin: 50px auto;
}

.heading {
    color: #1F2833;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 25%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
}

.card-header {
    text-align: center;
    padding: 50px 10px;
    /* background: linear-gradient(to right, #ff416c, #ff4b2b); */
    /* background: linear-gradient(to right, #1F2833, #45A29E); */
    background: linear-gradient(to right, #1F2833, #0B0C10);
    color: #fff;
}

.card-header p {
    font-size: 12px;
    color: #66FCF1;
}

.card-body .date {
    font-size: 10px;
}

.card-body {
    color: black;
    padding: 30px 20px;
    text-align: center;
    font-size: 17px;
}

.card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    /* background: linear-gradient(to right, #ff416c, #ff4b2b); */
    background: linear-gradient(to right, #45A29E, #1F2833);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}

.add-new-card-header {
    text-align: center;
    padding: 50px 10px;
    background: linear-gradient(to right, #0B0C10, #C5C6C7);
    color: #fff;
}

.card-body .add-new-btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #0B0C10, #C5C6C7);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #1F2833;
}

.pagination a {
    text-decoration: none;
    color: #45A29E;
}

@media screen and (max-width: 1052px) {
    .card {
        width: 40%;
    }
    nav {
        padding: 10px 40px 10px 0px;
    }
    nav ul li.logo {
        display: none;
    }
    nav ul div.items {
        flex: 4;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 100%;
    }
    .heading {
        padding: 20px;
        font-size: 20px;
    }
    .card {
        width: 60%;
    }
}
@media screen and (max-width: 570px) {
    nav ul div.items {
        margin-bottom: 15px;
    }
}