<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %} {% load widget_tweaks %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/add_book.css' %}">
    <title>Add</title>
</head>

<body>

    <div class="contact-section">
        <div class="inner-width">
            <h1>Add book</h1>
            <form method="POST" autocomplete="off">
                {% csrf_token %} {% render_field form.name placeholder='Name' class='name' %}
                <!-- {% render_field form.name placeholder='Name' class='name' %} -->

                {% render_field form.author placeholder='Author Name' class='author' %}
                <!-- {% render_field form.author placeholder='Author Name' class='author' %} -->

                {% render_field form.description class="description" placeholder='Description' rows="1" %}
                <!-- {% render_field form.description  class="description" placeholder='Description' rows="1" %} -->

                {{ form.publish.as_hidden }}
                <!-- {{ form.publish.as_hidden }} -->

                {{ form.user.as_hidden }}
                <!-- {{ form.user.as_hidden }} -->

                <a href="{% url 'books' %}" class="back">Back</a>
                <button type="submit" class="done">Done</button>
            </form>

        </div>
    </div>

</body>

</html>