<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/booklist.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css">
    <title>Library Management</title>
</head>

<body>

    <nav>
        <ul>
            <li class="logo">Library Management</li>
            <div class="items">

                <li>
                    <a href="{% url 'user' %}">{{ request.user }}</a>
                </li>

                {% if request.user in admins %}
                <li>
                    <a href="{% url 'users' %}">Users</a>
                </li>
                {% endif %}

                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>

            </div>

            <form class="navbar-form" role="search" method="GET" autocomplete="off">
                <li class="search-icon">
                    <input type="search" placeholder="Search" name="q" id="search" {% if query %} value="{{ query }}" {% endif %}">
                    <button class="icon" type="submit">
                        <span class="fa fa-search"></span>
                    </button>
                </li>
            </form>

        </ul>
    </nav>


    <div class="container">

        <div class="heading">
            <h1>Book List</h1>
        </div>

        <div class="row">

            <div class="card">
                <div class="add-new-card-header">
                    <h2>New</h2>
                </div>
                <div class="card-body">
                    <p>
                        It is time to add some usefull data to this website, but choose wisely what you add can seriously change someones life.
                    </p>
                    <a href="{% url 'add_book' %}" class="add-new-btn">Add New</a>
                </div>
            </div>

            {% for post in posts %}
            <div class="card">
                <div class="card-header">
                    <h3>{{ post.name }}</h3>
                    {% for author in post.author.all %}
                    <p>
                        <b>{{ author }}</b>
                    </p>
                    {% endfor %}
                </div>
                <div class="card-body">

                    <p>
                        {{ post.description|truncatewords:15 }}
                    </p>
                    <br/>
                    <span class="date"> Published <b>{{ post.publish }}</b> by <b>{{ post.user }}</b></span>

                    <a href="{{ post.get_absolute_url }}" class="btn">
                        Read more
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
        <h4 class="pagination">{% include "pagination.html" with page=posts %}</h4>
    </div>



    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script type="text/javascript">
        var words = [
            "{% for word in autocomplete_words %}",
            "{{ word }}",
            "{% endfor %}",
        ];
        $("#search").autocomplete({
            source: words
        }, {
            autoFocus: false,
            delay: 0,
            minLength: 1
        });
    </script>
</body>

</html>