<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %} {% load widget_tweaks %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/add_book.css' %}">
    <title>Edit</title>
</head>

<body>

    <div class="contact-section">
        <div class="inner-width">
            <h1>Edit</h1>
            <form method="POST" autocomplete="off">
                {% csrf_token %}

                <!-- <input class="name" type="text" placeholder="Name"> -->
                {% render_field form.name placeholder='Name' class='name' %}

                <!-- <input class="author" type="text" placeholder="Author Name"> -->
                {% render_field form.author placeholder='Author Name' class='author' %}

                <!-- <textarea class="description" rows="1" placeholder="Description"></textarea> -->
                {% render_field form.description class="description" placeholder='Description' rows="15" %}

                <!-- publish hidden field -->
                {{ form.publish.as_hidden }}

                <!-- publish hidden field -->
                {{ form.user.as_hidden }}

                <!-- error -->
                {% if flag == False %}
                <h4 class="error">Something went wrong, please try again .</h4>
                <br/> {% endif %}
                <!-- form error is_valid -->
                {{ form.errors }} {{ form.non_field_errors }}

                <a href="{% url 'single_book' book.id %}" class="back">Back</a>
                <button type="submit" class="done">Save</button>
            </form>

        </div>
    </div>

</body>

</html>