<!DOCTYPE html>
<html lang="en">

<head>
    {% load widget_tweaks %} {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="{% static 'css/share_book.css' %}">
    <title>Share</title>
</head>

<body>

    <nav>
        <ul>
            <li class="logo">Library Management</li>
            <div class="items">

                <li>
                    <a href="{% url 'user' %}">{{ request.user }}</a>
                </li>

                <li>
                    <a href="{% url 'books' %}">Home</a>
                </li>

                {% if request.user in admins %}
                <li>
                    <a href="{% url 'users' %}">Users</a>
                </li>
                {% endif %}

                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>

            </div>

        </ul>
    </nav>

    <div class="contact-form">
        {% if sent %}
        <h1>E-mail successfully sent</h1>
        <br/>
        <hr />
        <br/>
        <h5>
            "{{ book.name }}" was successfully sent to {{ form.cleaned_data.to }}.
        </h5>

        {% else %}

        <h1>Share</h1>
        <form method="POST" autocomplete="off">


            <div class="txtb">
                <label>Full Name :</label> {% render_field form.name class="input" %}
            </div>


            <div class="txtb">
                <label>Email :</label> {% render_field form.email class="input" %}
            </div>

            <div class="txtb">
                <label>To :</label> {% render_field form.to class="input" %}

            </div>


            <div class="txtb">
                <label>Comment :</label> {% render_field form.comments class="textarea" row='2' %}
            </div>

            {% csrf_token %}
            <button class="btn" type="submit">Send</button>

        </form>
        {% endif %}

    </div>

</body>

</html>

<!--
    <div class="container col-sm-9">
        <br /> 
        {% if sent %}
        <h1 class="display-4 d-inline mr-3">E-mail successfully sent</h1>

        <hr />

        <h5>
            "{{ book.name }}" was successfully sent to {{ form.cleaned_data.to }}.
        </h5>

        {% else %}
        <h1 class="display-4 d-inline mr-3">Share {{ book.name }} by e-mail</h1>
        <hr />
        <form method="POST" autocomplete="off">
            <table>
                <tr>
                    <td>
                        Name: &nbsp
                    </td>
                    <td>
                        {% render_field form.name class="form-control" %}
                    </td>
                </tr>
                <br/>
                <tr>
                    <td>
                        Email: &nbsp
                    </td>
                    <td>

                        {% render_field form.email class="form-control" %}
                    </td>
                </tr>

                <tr>
                    <td>
                        To: &nbsp
                    </td>
                    <td>

                        {% render_field form.to class="form-control" %}
                    </td>
                </tr>

                <tr>
                    <td>
                        Comment: &nbsp
                    </td>
                    <td>

                        {% render_field form.comments class="form-control" %}
                    </td>
                </tr>
            </table>


            {% csrf_token %}
            <br />
            <input type="submit" value="Send e-mail" class="btn-success">
        </form>
        {% endif %}
    </div>

</body>

</html> -->