<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %} {% load widget_tweaks %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/single_book.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Library Management</title>
</head>

<body>

    <nav>
        <ul>
            <li class="logo">Library Management</li>
            <div class="items">

                <li>
                    <a href="{% url 'user' %}">{{ request.user }}</a>
                </li>


                <li>
                    <a href="{% url 'books' %}">Books</a>
                </li>

                {% if request.user in admins %}
                <li>
                    <a href="{% url 'users' %}">Users</a>
                </li>
                {% endif %}

                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>

            </div>

        </ul>
    </nav>
    <div class="container">

        <div class="heading">
            <h1>{{ book.name }}&nbsp</h1>
            <h5 class="d-inline">by &nbsp</h5>
            <h1 class="d-inline">{{ book.author }}</h1>
        </div>

        <div class="row">
            <p>
                {{ book.description|linebreaks }}
            </p>
        </div>

        <div class="row">
            <h5 class="edit">
                <a href="{% url 'edit_book' book.pk %}">Edit</a>
            </h5>

            <h5 class="delete">
                <a href="{% url 'delete_book' book.pk %}">Delete</a>
            </h5>

            <h5 class="share">
                <a href="{% url 'share_book' book.pk %}">Share</a>
            </h5>
        </div>

        <div class="row">
            {% with comments.count as total_comments %}
            <h2>
                {{ total_comments }} comment{{ total_comments|pluralize }}
            </h2>
            {% endwith %}
        </div>

        <div class="row">
            {% for comment in comments %}
            <div class="comments">
                <h6>
                    Comment {{ forloop.counter }} by <b>{{ comment.name }}</b>
                    <small class="text-muted">{{ comment.created }}</small>
                </h6>
                <br /> {{ comment.body|linebreaks }}
                <br />
                <br />

            </div>
            {% empty %}
            <p>There are no comments yet.</p>
            {% endfor %}
        </div>

        <div class="row inner-width">
            {% if new_comment %}
            <h2>Your comment has been added.</h2>
            {% else %}
            <form method="POST" autocomplete="off">
                {% csrf_token %}

                <table>
                    <tr>
                        <!-- <td>
                            Name: &nbsp
                        </td> -->
                        <td>
                            {% render_field comment_form.name class='name' placeholder='Name' %}
                        </td>
                    </tr>

                    <tr>
                        <!-- <td>
                            Email: &nbsp
                        </td> -->
                        <td>
                            {% render_field comment_form.email class='email' placeholder='Email' %}
                        </td>
                    </tr>

                    <tr>
                        <!-- <td>
                            Commnet: &nbsp
                        </td> -->
                        <td>
                            {% render_field comment_form.body placeholder='Comment' class='comment' %}
                        </td>
                    </tr>
                </table>


                <br>
                <p><input type="submit" value="Add comment" class="comment-btn"></p>
            </form>
            {% endif %}
        </div>

    </div>

</body>

</html>




<!--

<body>



        </div>
    </div>

</body>

</html> -->