<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/userlist.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Library Management</title>
</head>

<body>

    <nav>
        <ul>
            <li class="logo">Library Management</li>
            <div class="items">

                <li>
                    <a href="{% url 'user' %}">{{ request.user }}</a>
                </li>


                <li>
                    <a href="{% url 'books' %}">Home</a>
                </li>


                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>

            </div>

        </ul>
    </nav>


    <div class="container">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Permission</th>
                <th>Join Date</th>
                <th>Last Login</th>
                <th>Delete</th>
                <th>Promote</th>
            </thead>

            <tbody>

                {% for user in users %}

                <tr>

                    <td data-label="Name">{{ user.username }}</td>
                    <td data-label="Email">{{ user.email }}</td>

                    {% if user in admins %}
                    <td data-label="Permission">Admin</td>
                    {% else %}
                    <td data-label="Permission">Editor</td>
                    {% endif %}

                    <td data-label="Join Date">{{ user.date_joined }}</td>
                    <td data-label="Last Login">{{ user.last_login }}</td>

                    <td data-label="Delete">
                        {% if user not in admins %}
                        <a href="{% url 'delete_user' user.pk %}" role="button">
                            <b>Remove</b>
                        </a>
                        {% else %} - {% endif %}
                    </td>

                    <td data-label="Promote">
                        {% if user in customers %}
                        <a href="{% url 'promote_user' user.pk %}" role="button">
                            <b>Promote</b>
                        </a>
                        {% else %} - {% endif %}
                    </td>

                </tr>

                {% endfor %}

            </tbody>
        </table>

    </div>

</body>

</html>