<html>

<head>
    {% load static %}
    {% load widget_tweaks %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <div class="container col-sm-9 text-center">

        <br /><br /><br />
        <h3 class="display-4">Enter new password</h3>
        <br />
        <p>Please enter your password twice so we can verify you typed it correctly.</p>
        <br/>
        <hr>
        <form method="POST">
            {% csrf_token %}

            <br/>
            {% for field in form %}
            <table class="col-sm-5 d-inline">
                <tr>
                    <td class="text-left">
                        {{ field.label }}:
                    </td>

                    <td class="text-right">
                        {{ field }}
                    </td>
                </tr>
            </table>
            {% endfor %}
            <br/><br/>
            <input type="submit" name="Update Password">
        </form>

    </div>

</body>

</html>