<!DOCTYPE html>
<html>

<head>
    {% load widget_tweaks %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Registeration</title>
</head>

<body>

    <div class="wrapper">
        <div class="title">
            Register Form
        </div>
        <form class="form" method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="input_field">
                <label>Username</label>
                {% render_field form.username placeholder='Username' class='input' %}
            </div>
            <div class="input_field">
                <label>First Name</label>
                {% render_field form.first_name placeholder='First Name' class='input' %}
            </div>

            <div class="input_field">
                <label>Last Name</label>
                {% render_field form.last_name placeholder='Last Name' class='input' %}
            </div>

            <div class="input_field">
                <label>Email Address</label>
                {% render_field form.email placeholder='Email' class='input' %}
            </div>

            <div class="input_field">
                <label>Password</label>
                {% render_field form.password1 placeholder='Password' class='input' %}
            </div>

            <div class="input_field">
                <label>Confirm Password</label>
                {% render_field form.password2 placeholder='Confirm Password' class='input' %}
            </div>

            <div class="input_field terms">
                <p>Already have an account ?<a href="{% url 'login' %}"> Sign-in</a></p>
            </div>
            <div class="input_field">
                <input type="submit" value="Register" class="btn">
            </div>

        </form>
    </div>

</body>

</html>