<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/user.css' %}" />
    <title>User Page</title>

</head>

<body>
    <nav>
        <ul>
            <li class="logo">Library Management</li>

            <div class="items">

                <li>
                    <a href="{% url 'books' %}">Books</a>
                </li>

                {% if request.user in admins %}
                <li>
                    <a href="{% url 'users' %}">Users</a>
                </li>
                {% endif %}

                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>

            </div>
        </ul>
    </nav>

    <div class="card">
        <div class="card-header">
            <img src="{% static 'img/profile.png' %}" alt="Profile Image" class="profile-img">
        </div>
        <div class="card-body">
            <p class="full-name">{{ user.first_name }} {{ user.last_name }}</p>
            <p class="username">{{ user }}</p>
            <p class="city">{{ user.date_joined }}</p>
            <p class="desc">{{ user.email }}</p>
        </div>
        <div class="card-footer">
            <div class="col vr">

                <p>
                    change
                    <a href="{% url 'reset_password' %}" role="button">
                        <span class="reset-password">Password</span>
                    </a>
                </p>

            </div>
        </div>
    </div>
</body>

</html>

<html>